@import "partials/normalize";
@import "partials/variables";

html {
	font-size: 62.5%;
}
body {
	background: $orangeRed;
}

.wrapper {
	display: flex;
}

header {
	background: $yellow;
	padding: 2% 5%;
	display: flex;
	align-items: center;
}

h1 {
	font-family: "Roboto";
	text-transform: uppercase;
	font-weight: 900;
	font-size: 6rem;
	color: $blueGrey;
	text-align: center;
	width: 50%;
	span {
		font-size: 10rem;
		letter-spacing: 1.5rem;
		color: $orangeRed;
	}
}

header p {
	font-family: "Roboto";
	font-size: 1.6rem;
	font-weight: 400;
	letter-spacing: 0.2rem;
	color: $blueGrey;
	line-height: 1.5;
	width: 60%;
	margin: 0 auto;
}

.weather, .photos {
	// background: $pale;
	border: 1px solid grey;
}

.weather {
	width: 30%;
	height: 250px;
	background: black;
	color: $green;
	font-family: "Orbitron";
	font-weight: 400;
	text-transform: lowercase;
	letter-spacing: 1.5px;
	padding: 2%;
	margin-left: 20px;
	border-radius: 10%;
	align-self: center;
}

.photos {
	order: -1;
	display: flex;
	padding: 2% 5%;
}

p {
	font-size: 1.3rem;
}

.controlPanel {
	width: 40%;
	order: -1;
	display: flex;
	flex-flow: row wrap;
}

p.buttonLabel, .controlPanel p {
	width: 150px;
	font-family: "Mil Spec 33558";
	color: rgba(0,0,0, 0.7);
	text-shadow: 0px 1px 0px rgba(255,255,255,0.3), 0px -1px 0px rgba(0,0,0,0.5);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.3rem;
}
img {
	width: 100%;
	border-radius: 20%;
	height: 500px;
	border: 5px solid $codgrey;
}

.photoDisplay {
	width: 600px;
	height: 500px;
	position: relative;
}

.displayOverlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
}

p.camDisplay, p.dateDisplay {
	color: $green;
	font-weight: bold;
	position: absolute;
	padding: 5px;
	bottom: 44px;
	font-family: "Orbitron";
	font-weight: 400;
}

p.camDisplay {
	right: 52px;
}

p.dateDisplay {
	left: 52px;
}

p.error {
	margin: 0 auto;
	color: $green;
	padding: 10px;
	font-family: "Orbitron";
}
input[type='radio'] {
	display: none;
}

label {
	width: 60px;
	height: 60px;
}

.buttonKnob, button {
	width: 60px;
	height: 60px;
	margin: 20px;
	position: relative;
	top: 0px;
	border-radius: 100%;
	background: lighten($codgrey, 20%);
	border: 0.5px solid $codgrey;
	box-shadow: 0px 10px 0px lighten($codgrey, 7%);
	transition: all 0.3s;
	&:active {
		top: 7px;
		background: $green;
		box-shadow: 0px 3px 0px lighten($codgrey, 5%);
	}
	&:hover {
		cursor: pointer;
	}
}

.controlPanel {
	display: flex;
}

.photos {
	background-image: url('../images/brushed_alu_dark/brushed_alu_dark.png');
	padding-bottom: 5%;
	margin-bottom: 0;
}

.buttonWrapper {
	margin: 0 auto;
}

button {
	-webkit-appearance: none;
	width: 60px;
	height: 60px;
	font-family: "Mil Spec 33558";
	font-size: 1.4rem;
	background: $red;
	&:focus {
		outline: none;
	}

}

.seeMoreButtonWrapper {
	position: absolute;
	left: 220px;
}

footer {
	background: $yellow;
	margin: 0;
	padding: 5%;
	p {
		margin: 0;
		padding: 10px;
		font-family: "Roboto";
		color: $blueGrey;
		font-size: 1.6rem;
		text-align: center;
	}
	a {
		text-decoration: none;
		color: $orangeRed;
	}
}
