@import "partials/variables";

body {
	background: $orangeRed;
}

.wrapper {
	display: flex;
}

.weather, .photos {
	background: $pale;
	border: 1px solid grey;
}

.weather {
	width: 20%;
}

.photos {
	width: 80%;
	order: -1;
}

img {
	width: 100%;
	border-radius: 50%;
	// width: 50%;
	height: 500px;
}

.photoDisplay {
	// background-image: url('https://media.giphy.com/media/xaMg6NGwH2fFS/giphy.gif');
	// background-size: cover;
	width: 80%;
	height: 500px;
	border-radius: 50%;
	transition: background-image 0.4s ease;
}

input[type='radio'] {
	display: none;
}

.buttonKnob {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	background: $orangeRed;
}
