@import "partials/variables";

body {
	background: $orangeRed;
}

.wrapper {
	display: flex;
}

.weather, .photos {
	background: $pale;
	border: 1px solid grey;
}

.weather {
	width: 20%;
}

.photos {
	width: 80%;
	order: -1;
}

img {
	width: 20%;
}

.photoWrapper {
	background-image: url('https://media.giphy.com/media/xaMg6NGwH2fFS/giphy.gif');
	background-size: cover;
	width: 200px;
	height: 200px;
}
