body {
  background: #b85037; }

.wrapper {
  display: flex; }

.weather, .photos {
  background: #e2d5c5;
  border: 1px solid grey; }

.weather {
  width: 20%; }

.photos {
  width: 80%;
  order: -1; }

img {
  width: 100%;
  border-radius: 50%;
  height: 500px; }

.photoDisplay {
  width: 80%;
  height: 500px;
  border-radius: 50%;
  transition: background-image 0.4s ease; }

input[type='radio'] {
  display: none; }

.buttonKnob {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #b85037; }
