article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'Mil Spec 33558';
  src: url("../fonts/MilSpec33558.ttf"); }
html {
  font-size: 62.5%; }

body {
  background: #b85037;
  margin: 20px 0; }

.wrapper {
  display: flex;
  margin: 0 auto; }
  @media (max-width: 736px) {
    .wrapper {
      display: flex;
      flex-direction: column; } }

.innerWrapper {
  display: flex;
  max-width: 1200px;
  margin: 0 auto; }
  @media (max-width: 736px) {
    .innerWrapper {
      flex-direction: column; } }

p {
  font-size: 1.3rem; }

header {
  background: #e6e1c5;
  padding: 2% 5%;
  background-image: url("../images/marsrover.svg");
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: right top;
  position: relative; }
  header .innerWrapper {
    align-items: center; }
  @media (max-width: 768px) {
    header {
      background-image: none; } }
  header img {
    position: absolute;
    left: -107px;
    width: 425px;
    top: 86px; }
  @media (max-width: 848px) {
    header {
      flex-direction: column;
      padding: 2%; } }

h1 {
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 900;
  font-size: 6rem;
  color: #415155;
  text-align: center;
  width: 50%;
  z-index: 200; }
  @media (max-width: 848px) {
    h1 {
      width: 100%;
      margin-bottom: 0; } }
  @media (max-width: 720px) {
    h1 {
      font-size: 5rem; } }
  h1 span {
    font-size: 10rem;
    letter-spacing: 1.5rem;
    color: #b85037; }
    @media (max-width: 720px) {
      h1 span {
        font-size: 7rem; } }

header p {
  font-family: "Roboto";
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  color: #415155;
  line-height: 1.5;
  width: 60%;
  margin: 0 auto;
  z-index: 200; }
  @media (max-width: 1000px) {
    header p {
      width: 100%;
      padding: 5%; } }

.photos {
  order: -1;
  padding: 5%;
  z-index: 200;
  width: 100%;
  background-image: url("../images/brushed_alu_dark/brushed_alu_dark.png");
  margin-bottom: 0; }
  @media (max-width: 360px) {
    .photos {
      padding: 1%; } }
  @media (max-width: 320px) {
    .photos {
      padding: 2%; } }

.display {
  width: 100%;
  border-radius: 20%;
  height: 500px;
  border: 5px solid #070808; }

.photoDisplay {
  min-width: 350px;
  min-height: 200px;
  max-width: 600px;
  max-height: 500px;
  position: relative;
  display: flex;
  flex-direction: column; }
  @media (max-width: 1000px) {
    .photoDisplay {
      width: 100%; } }

.displayOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center; }

p.camDisplay, p.dateDisplay {
  color: #75d023;
  font-weight: bold;
  position: absolute;
  padding: 5px;
  bottom: 44px;
  font-family: "Orbitron";
  font-weight: 400; }

p.camDisplay {
  right: 52px; }

p.dateDisplay {
  left: 52px; }

p.error {
  margin: 0 auto;
  color: #75d023;
  padding: 10px;
  font-family: "Orbitron"; }

.controlPanel {
  width: 30%;
  max-width: 300px;
  order: -1;
  display: flex;
  flex-flow: row wrap; }
  @media (max-width: 1150px) {
    .controlPanel {
      width: 42%; } }
  @media (max-width: 1134px) {
    .controlPanel {
      width: 50%; } }
  @media (max-width: 1050px) {
    .controlPanel {
      width: 60%; } }
  @media (max-width: 736px) {
    .controlPanel {
      order: 0;
      width: 80%;
      margin: 0 auto;
      padding-top: 20px;
      justify-content: center; } }
  @media (max-width: 736px) {
    .controlPanel .buttonWrapper {
      width: 20%; } }

p.buttonLabel, .controlPanel p, h3, .legend p {
  width: 150px;
  font-family: "Mil Spec 33558";
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.3rem;
  padding-top: 10px; }
  @media (max-width: 1134px) {
    p.buttonLabel, .controlPanel p, h3, .legend p {
      font-size: 1.2rem; } }
  @media (max-width: 1000px) {
    p.buttonLabel, .controlPanel p, h3, .legend p {
      width: auto; } }
  @media (max-width: 736px) {
    p.buttonLabel, .controlPanel p, h3, .legend p {
      font-size: 1rem; } }

.numberLabel {
  display: none; }
  @media (max-width: 736px) {
    .numberLabel {
      display: block; } }

.textLabel {
  display: block; }
  @media (max-width: 736px) {
    .textLabel {
      display: none; } }

input[type='radio'] {
  display: none; }

label {
  width: 50px;
  height: 50px; }

.buttonKnob, button {
  width: 50px;
  height: 50px;
  margin: 20px;
  position: relative;
  top: 0;
  border-radius: 100%;
  background: #373e3e;
  border: 0.5px solid #070808;
  box-shadow: 0px 10px 0px #181b1b;
  transition: all 0.3s; }
  .buttonKnob:active, button:active {
    top: 7px;
    background: #75d023;
    box-shadow: 0px 3px 0px #131616; }
  .buttonKnob:hover, button:hover {
    cursor: pointer; }
  @media (max-width: 1134px) {
    .buttonKnob, button {
      margin: 0; } }
  @media (max-width: 736px) {
    .buttonKnob, button {
      width: 40px;
      height: 40px; } }

.buttonKnob {
  background: #b85037; }

@media (max-width: 1000px) {
  .buttonWrapper {
    width: 40%; } }

.seeMoreButtonWrapper {
  order: 7; }
  @media (max-width: 736px) {
    .seeMoreButtonWrapper {
      order: 0; } }

button {
  -webkit-appearance: none;
  font-family: "Mil Spec 33558";
  font-size: 1.4rem;
  background: #c9392b;
  margin-top: 10px; }
  button:focus {
    outline: none; }

.sidePanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 169px; }
  .sidePanel h3 {
    text-align: center; }
  .sidePanel .legend {
    display: none; }
    .sidePanel .legend h3 {
      padding-bottom: 10px; }
  @media (max-width: 736px) {
    .sidePanel {
      flex-direction: row; }
      .sidePanel .panelHeader, .sidePanel .legend {
        width: 50%; }
      .sidePanel .legend {
        display: block;
        align-self: flex-end; } }

.weatherPanel {
  background: #0a1702;
  color: #75d023;
  max-width: 270px;
  font-family: "Orbitron";
  font-weight: 400;
  text-transform: lowercase;
  letter-spacing: 1.5px;
  padding: 2%;
  margin-left: 20px;
  border-radius: 10%; }

footer {
  background: #e6e1c5;
  margin: 0;
  padding: 5%; }
  footer p {
    margin: 0;
    padding: 10px;
    font-family: "Roboto";
    color: #415155;
    font-size: 1.6rem;
    text-align: center; }
  footer a {
    text-decoration: none;
    color: #b85037;
    font-weight: 900;
    transition: all 0.4s ease; }
    footer a:hover {
      color: #c9392b; }
  footer img {
    display: block;
    width: 60px;
    margin: 0 auto;
    padding-top: 2%; }
