// Colours

$red: #c9392b;
$orangeRed: #b85037;
$brownred: #f9382f;

$green: #75D023;

$pale: #e2d5c5;



// Fonts

@font-face {
  font-family: 'Mil Spec 33558';
  src: url('fonts/MilSpec33558.ttf');
}