// Colours

$red: #c9392b;
$orangeRed: #b85037;
$brownred: #f9382f;

$green: #75D023;

$codgrey: #070808;

$pale: #e2d5c5;
$cod: #525453;

$blueGrey: #415155;
$orange: #d77039;
$yellow: #e6e1c5;

$darkGreen: #0a1702;



// Fonts

@font-face {
  font-family: 'Mil Spec 33558';
  src: url('../fonts/MilSpec33558.ttf');
}